flows.json
[
    {
        "id": "001ee64275eb9825",
        "type": "tab",
        "label": "Martiaço",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a88b8d189355e71c",
        "type": "tab",
        "label": "Exercício 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeab550a8007f02c",
        "type": "tab",
        "label": "Exercício 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "896bdf92c6c03823",
        "type": "tab",
        "label": "Exercício 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc4080dc71193990",
        "type": "tab",
        "label": "Exercício 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bae626ea5ac426b1",
        "type": "tab",
        "label": "Exercício 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0c2046d9d2e75ef",
        "type": "tab",
        "label": "Exercicio 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d4e0e5c0d7dfbc2",
        "type": "tab",
        "label": "Exercício 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dd8a0328e32dc4d",
        "type": "tab",
        "label": "Exercicio 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69b3ee8fff56a114",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e4165de2d512118",
        "type": "mqtt in",
        "z": "001ee64275eb9825",
        "name": "MQTT",
        "topic": "stat/teste_sim/POWER1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "69b3ee8fff56a114",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "1e086b612d2813b0"
            ]
        ]
    },
    {
        "id": "b6bb7dcd8dc07f21",
        "type": "aedes broker",
        "z": "001ee64275eb9825",
        "name": "Broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "8080",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 590,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aa2ddd794a4332bf",
        "type": "debug",
        "z": "001ee64275eb9825",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "1e086b612d2813b0",
        "type": "function",
        "z": "001ee64275eb9825",
        "name": "contador",
        "func": "var count = (context.get(\"count\") > 9 ? 0 : context.get(\"count\")) || 0;\nif (msg.payload == \"ON\") {\n    count += 1;\n    context.set(\"count\", count);\n    msg.payload = count;\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 400,
        "wires": [
            [
                "aa2ddd794a4332bf"
            ]
        ]
    },
    {
        "id": "c126ac5e4f6e6d61",
        "type": "inject",
        "z": "a88b8d189355e71c",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "14",
        "payloadType": "num",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "d7b9c10ad6c8b4e2"
            ]
        ]
    },
    {
        "id": "d7b9c10ad6c8b4e2",
        "type": "function",
        "z": "a88b8d189355e71c",
        "name": "escolha",
        "func": "if(msg.payload <= 10) {\n    msg.payload = (Math.random() * 10).toFixed(2);\n    return [msg, null];\n} else {\n    msg.payload = (Math.random() * 20).toFixed(2);\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 400,
        "wires": [
            [
                "5a2c94c78fb06fb8"
            ],
            [
                "a203d509e79279a0"
            ]
        ]
    },
    {
        "id": "5a2c94c78fb06fb8",
        "type": "debug",
        "z": "a88b8d189355e71c",
        "name": "Saída 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "a203d509e79279a0",
        "type": "debug",
        "z": "a88b8d189355e71c",
        "name": "Saída 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "b1ba9773e7b399d1",
        "type": "inject",
        "z": "eeab550a8007f02c",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b7f75a4b696a06f0"
            ]
        ]
    },
    {
        "id": "b7f75a4b696a06f0",
        "type": "function",
        "z": "eeab550a8007f02c",
        "name": "contador",
        "func": "var cont = context.get(\"contador\")||0;\ncont++;\ncontext.set(\"contador\", cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "454de54e22f447b8"
            ]
        ],
        "info": "O comando \"context\" cria variáveis acessíveis apenas dentro da função em que ela está alocada.\r\n\r\nO comando \"flow\" cria variáveis acessíveis no fluxo atual.\r\n\r\nO comando \"global\" cria variáveis acessíveis em fluxos diferentes."
    },
    {
        "id": "454de54e22f447b8",
        "type": "debug",
        "z": "eeab550a8007f02c",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "6015dd0514be2431",
        "type": "inject",
        "z": "896bdf92c6c03823",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "35cebe8069f948e0"
            ]
        ]
    },
    {
        "id": "35cebe8069f948e0",
        "type": "function",
        "z": "896bdf92c6c03823",
        "name": "retornaJSON",
        "func": "var objeto = {\n    \"nome\": \"Valmir\",\n    \"sobrenome\": \"Moro Conque Filho\",\n    \"sexo\": \"M\",\n    \"idade\": 43,\n    \"endereco\": [\"Rua 29 de Junho\", 267, \"Bacacheri\", 82515396, \"Curitiba-PR\"],\n    \"celular\": 991256214\n}\nmsg.payload = objeto\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "8792b714cf3e47cb"
            ]
        ]
    },
    {
        "id": "8792b714cf3e47cb",
        "type": "debug",
        "z": "896bdf92c6c03823",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.endereco[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "d8ab71237009d486",
        "type": "inject",
        "z": "dc4080dc71193990",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "594c6888fc087278"
            ]
        ]
    },
    {
        "id": "594c6888fc087278",
        "type": "switch",
        "z": "dc4080dc71193990",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "3.9",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4",
                "vt": "num",
                "v2": "5.9",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "584b0bf0deec92b7"
            ],
            [
                "14d56664c5f0dce2"
            ],
            [
                "e6da2118e8b739d1"
            ]
        ]
    },
    {
        "id": "5b626091f9d10d6a",
        "type": "debug",
        "z": "dc4080dc71193990",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "584b0bf0deec92b7",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "reprovado",
        "func": "msg.payload = \"Aluno reprovado.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 340,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "14d56664c5f0dce2",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "recuperacao",
        "func": "msg.payload = \"Aluno em recuperação.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "e6da2118e8b739d1",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "aprovado",
        "func": "msg.payload = \"Aluno aprovado.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "cf343729b4d416e5",
        "type": "switch",
        "z": "bae626ea5ac426b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "3.9",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4",
                "vt": "num",
                "v2": "5.9",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "65f23948dc8cda0f"
            ],
            [
                "dcbe1ae882685128"
            ],
            [
                "c827391947efa286"
            ]
        ]
    },
    {
        "id": "3be95199eea0639c",
        "type": "debug",
        "z": "bae626ea5ac426b1",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "65f23948dc8cda0f",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "reprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "dcbe1ae882685128",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "recuperacao",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "em recuperação",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "c827391947efa286",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "aprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "aprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "80968b4c45f4e231",
        "type": "template",
        "z": "bae626ea5ac426b1",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Média aluno: {{topic}}.\nSituação aluno: {{payload}}.",
        "output": "str",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "3be95199eea0639c"
            ]
        ]
    },
    {
        "id": "0ecf8ad6fee28083",
        "type": "function",
        "z": "bae626ea5ac426b1",
        "name": "geradoraNota",
        "func": "msg.payload = (Math.random()*10).toFixed(2);\nmsg.topic = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "cf343729b4d416e5"
            ]
        ]
    },
    {
        "id": "0ccc3b96e9fff586",
        "type": "inject",
        "z": "bae626ea5ac426b1",
        "name": "Entrada",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "0ecf8ad6fee28083"
            ]
        ]
    },
    {
        "id": "04cee8558d2436e0",
        "type": "http in",
        "z": "c0c2046d9d2e75ef",
        "name": "http in",
        "url": "/exercicio6",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "284f8d0a17499735"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "4cbbdcbff45c9fdf",
        "type": "http response",
        "z": "c0c2046d9d2e75ef",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "2a141c9a3d421cd6",
        "type": "template",
        "z": "c0c2046d9d2e75ef",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 6</title>\n    </head>\n    <body>\n        <h1>Usando nós HTTP</h1>\n        <h2>{{payload}}</h2>\n        <h2>{{topic}}</h2>\n    </body>\n</html>",
        "output": "str",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "4cbbdcbff45c9fdf"
            ]
        ]
    },
    {
        "id": "284f8d0a17499735",
        "type": "function",
        "z": "c0c2046d9d2e75ef",
        "name": "alteraValorVariaveis",
        "func": "msg.payload = \"Alteração do payload\";\nmsg.topic = \"Alteração do topic\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "2a141c9a3d421cd6"
            ]
        ]
    },
    {
        "id": "c9cac4f9d3d26be1",
        "type": "http in",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "http in",
        "url": "/exercicio7",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "edf452b7b59a6cff"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "9c34ddfab253470e",
        "type": "http response",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "53f29b70787c10f1",
        "type": "template",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 7</title>\n    </head>\n    <body>\n        <h2>{{payload}}</h2>\n    </body>\n</html>",
        "output": "str",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "9c34ddfab253470e"
            ]
        ]
    },
    {
        "id": "edf452b7b59a6cff",
        "type": "function",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "alteraValorVariavel",
        "func": "msg.payload = msg.req.query.alterar;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "53f29b70787c10f1"
            ]
        ],
        "info": "O comando \"query\" atribui o valor ao parâmetro criado.\r\nExemplo: \"http://127.0.0.1:1880/exercicio7?alterar=aprendendo%20node-red\""
    },
    {
        "id": "ee171662e92cc9a9",
        "type": "http in",
        "z": "6dd8a0328e32dc4d",
        "name": "http in",
        "url": "/exercicio8/:nome/:idade/:sexo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "f412bf1182eced22"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "f3b5f4f2bc9ae1f0",
        "type": "http response",
        "z": "6dd8a0328e32dc4d",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "f412bf1182eced22",
        "type": "template",
        "z": "6dd8a0328e32dc4d",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 8</title>\n    </head>\n    <body>\n        <h2>Nome: {{req.params.nome}}</h2>\n        <h2>Idade: {{req.params.idade}}</h2>\n        <h2>Sexo: {{req.params.sexo}}</h2>\n\n    </body>\n</html>",
        "output": "str",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "f3b5f4f2bc9ae1f0"
            ]
        ]
    }
]