flows.json
[
    {
        "id": "001ee64275eb9825",
        "type": "tab",
        "label": "Martiaço",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a88b8d189355e71c",
        "type": "tab",
        "label": "Exercício 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeab550a8007f02c",
        "type": "tab",
        "label": "Exercício 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "896bdf92c6c03823",
        "type": "tab",
        "label": "Exercício 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc4080dc71193990",
        "type": "tab",
        "label": "Exercício 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bae626ea5ac426b1",
        "type": "tab",
        "label": "Exercício 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0c2046d9d2e75ef",
        "type": "tab",
        "label": "Exercicio 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d4e0e5c0d7dfbc2",
        "type": "tab",
        "label": "Exercício 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dd8a0328e32dc4d",
        "type": "tab",
        "label": "Exercicio 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f601e1b332165a2",
        "type": "tab",
        "label": "Exercício 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8272760ee52dab3",
        "type": "tab",
        "label": "Exercício 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de20183a7163d237",
        "type": "tab",
        "label": "Exercício 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e6fabb3817f9ba8",
        "type": "tab",
        "label": "Exercício 12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26b670098001254b",
        "type": "tab",
        "label": "Exercício 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00a0cdb45091547d",
        "type": "tab",
        "label": "Exercício 14",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69b3ee8fff56a114",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "696ad7dfed717455",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3e7c6dadf3305853",
        "type": "ui_tab",
        "name": "DASHBOARD",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4e403865e5e5e47",
        "type": "ui_group",
        "name": "MÁQUINAS",
        "tab": "3e7c6dadf3305853",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4d1bca6b5078f5f",
        "type": "ui_group",
        "name": "SERVIÇOS",
        "tab": "3e7c6dadf3305853",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "502706d043de121a",
        "type": "ui_tab",
        "name": "GRÁFICOS",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "488092914d9bc9d5",
        "type": "ui_group",
        "name": "PRODUÇÃO",
        "tab": "502706d043de121a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a678657322a9c1e7",
        "type": "ui_group",
        "name": "PRODUTIVIDADE",
        "tab": "502706d043de121a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e4165de2d512118",
        "type": "mqtt in",
        "z": "001ee64275eb9825",
        "name": "MQTT",
        "topic": "stat/teste_sim/POWER1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "69b3ee8fff56a114",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "1e086b612d2813b0"
            ]
        ]
    },
    {
        "id": "b6bb7dcd8dc07f21",
        "type": "aedes broker",
        "z": "001ee64275eb9825",
        "name": "Broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "8080",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 590,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aa2ddd794a4332bf",
        "type": "debug",
        "z": "001ee64275eb9825",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "1e086b612d2813b0",
        "type": "function",
        "z": "001ee64275eb9825",
        "name": "contador",
        "func": "var count = (context.get(\"count\") > 9 ? 0 : context.get(\"count\")) || 0;\nif (msg.payload == \"ON\") {\n    count += 1;\n    context.set(\"count\", count);\n    msg.payload = count;\n} else {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 400,
        "wires": [
            [
                "aa2ddd794a4332bf"
            ]
        ]
    },
    {
        "id": "c126ac5e4f6e6d61",
        "type": "inject",
        "z": "a88b8d189355e71c",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "14",
        "payloadType": "num",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "d7b9c10ad6c8b4e2"
            ]
        ]
    },
    {
        "id": "d7b9c10ad6c8b4e2",
        "type": "function",
        "z": "a88b8d189355e71c",
        "name": "escolha",
        "func": "if(msg.payload <= 10) {\n    msg.payload = (Math.random() * 10).toFixed(2);\n    return [msg, null];\n} else {\n    msg.payload = (Math.random() * 20).toFixed(2);\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 400,
        "wires": [
            [
                "5a2c94c78fb06fb8"
            ],
            [
                "a203d509e79279a0"
            ]
        ]
    },
    {
        "id": "5a2c94c78fb06fb8",
        "type": "debug",
        "z": "a88b8d189355e71c",
        "name": "Saída 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "a203d509e79279a0",
        "type": "debug",
        "z": "a88b8d189355e71c",
        "name": "Saída 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "b1ba9773e7b399d1",
        "type": "inject",
        "z": "eeab550a8007f02c",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b7f75a4b696a06f0"
            ]
        ]
    },
    {
        "id": "b7f75a4b696a06f0",
        "type": "function",
        "z": "eeab550a8007f02c",
        "name": "contador",
        "func": "var cont = context.get(\"contador\")||0;\ncont++;\ncontext.set(\"contador\", cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "454de54e22f447b8"
            ]
        ],
        "info": "O comando \"context\" cria variáveis acessíveis apenas dentro da função em que ela está alocada.\r\n\r\nO comando \"flow\" cria variáveis acessíveis no fluxo atual.\r\n\r\nO comando \"global\" cria variáveis acessíveis em fluxos diferentes."
    },
    {
        "id": "454de54e22f447b8",
        "type": "debug",
        "z": "eeab550a8007f02c",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "6015dd0514be2431",
        "type": "inject",
        "z": "896bdf92c6c03823",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "35cebe8069f948e0"
            ]
        ]
    },
    {
        "id": "35cebe8069f948e0",
        "type": "function",
        "z": "896bdf92c6c03823",
        "name": "retornaJSON",
        "func": "var objeto = {\n    \"nome\": \"Valmir\",\n    \"sobrenome\": \"Moro Conque Filho\",\n    \"sexo\": \"M\",\n    \"idade\": 43,\n    \"endereco\": [\"Rua 29 de Junho\", 267, \"Bacacheri\", 82515396, \"Curitiba-PR\"],\n    \"celular\": 991256214\n}\nmsg.payload = objeto\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 380,
        "wires": [
            [
                "8792b714cf3e47cb"
            ]
        ]
    },
    {
        "id": "8792b714cf3e47cb",
        "type": "debug",
        "z": "896bdf92c6c03823",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.endereco[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "d8ab71237009d486",
        "type": "inject",
        "z": "dc4080dc71193990",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "594c6888fc087278"
            ]
        ]
    },
    {
        "id": "594c6888fc087278",
        "type": "switch",
        "z": "dc4080dc71193990",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "3.9",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4",
                "vt": "num",
                "v2": "5.9",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "584b0bf0deec92b7"
            ],
            [
                "14d56664c5f0dce2"
            ],
            [
                "e6da2118e8b739d1"
            ]
        ]
    },
    {
        "id": "5b626091f9d10d6a",
        "type": "debug",
        "z": "dc4080dc71193990",
        "name": "Resultado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "584b0bf0deec92b7",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "reprovado",
        "func": "msg.payload = \"Aluno reprovado.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 340,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "14d56664c5f0dce2",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "recuperacao",
        "func": "msg.payload = \"Aluno em recuperação.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "e6da2118e8b739d1",
        "type": "function",
        "z": "dc4080dc71193990",
        "name": "aprovado",
        "func": "msg.payload = \"Aluno aprovado.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "5b626091f9d10d6a"
            ]
        ]
    },
    {
        "id": "cf343729b4d416e5",
        "type": "switch",
        "z": "bae626ea5ac426b1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "3.9",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "4",
                "vt": "num",
                "v2": "5.9",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "65f23948dc8cda0f"
            ],
            [
                "dcbe1ae882685128"
            ],
            [
                "c827391947efa286"
            ]
        ]
    },
    {
        "id": "3be95199eea0639c",
        "type": "debug",
        "z": "bae626ea5ac426b1",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "65f23948dc8cda0f",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "reprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "dcbe1ae882685128",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "recuperacao",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "em recuperação",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "c827391947efa286",
        "type": "change",
        "z": "bae626ea5ac426b1",
        "name": "aprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "aprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "80968b4c45f4e231"
            ]
        ]
    },
    {
        "id": "80968b4c45f4e231",
        "type": "template",
        "z": "bae626ea5ac426b1",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Média aluno: {{topic}}.\nSituação aluno: {{payload}}.",
        "output": "str",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "3be95199eea0639c"
            ]
        ]
    },
    {
        "id": "0ecf8ad6fee28083",
        "type": "function",
        "z": "bae626ea5ac426b1",
        "name": "geradoraNota",
        "func": "msg.payload = (Math.random()*10).toFixed(2);\nmsg.topic = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "cf343729b4d416e5"
            ]
        ]
    },
    {
        "id": "0ccc3b96e9fff586",
        "type": "inject",
        "z": "bae626ea5ac426b1",
        "name": "Entrada",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "0ecf8ad6fee28083"
            ]
        ]
    },
    {
        "id": "04cee8558d2436e0",
        "type": "http in",
        "z": "c0c2046d9d2e75ef",
        "name": "http in",
        "url": "/exercicio6",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "284f8d0a17499735"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "4cbbdcbff45c9fdf",
        "type": "http response",
        "z": "c0c2046d9d2e75ef",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "2a141c9a3d421cd6",
        "type": "template",
        "z": "c0c2046d9d2e75ef",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 6</title>\n    </head>\n    <body>\n        <h1>Usando nós HTTP</h1>\n        <h2>{{payload}}</h2>\n        <h2>{{topic}}</h2>\n    </body>\n</html>",
        "output": "str",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "4cbbdcbff45c9fdf"
            ]
        ]
    },
    {
        "id": "284f8d0a17499735",
        "type": "function",
        "z": "c0c2046d9d2e75ef",
        "name": "alteraValorVariaveis",
        "func": "msg.payload = \"Alteração do payload\";\nmsg.topic = \"Alteração do topic\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "2a141c9a3d421cd6"
            ]
        ]
    },
    {
        "id": "c9cac4f9d3d26be1",
        "type": "http in",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "http in",
        "url": "/exercicio7",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "edf452b7b59a6cff"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "9c34ddfab253470e",
        "type": "http response",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "53f29b70787c10f1",
        "type": "template",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 7</title>\n    </head>\n    <body>\n        <h2>{{payload}}</h2>\n    </body>\n</html>",
        "output": "str",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "9c34ddfab253470e"
            ]
        ]
    },
    {
        "id": "edf452b7b59a6cff",
        "type": "function",
        "z": "4d4e0e5c0d7dfbc2",
        "name": "alteraValorVariavel",
        "func": "msg.payload = msg.req.query.alterar;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "53f29b70787c10f1"
            ]
        ],
        "info": "O comando \"query\" atribui o valor ao parâmetro criado.\r\nExemplo: \"http://127.0.0.1:1880/exercicio7?alterar=aprendendo%20node-red\""
    },
    {
        "id": "ee171662e92cc9a9",
        "type": "http in",
        "z": "6dd8a0328e32dc4d",
        "name": "http in",
        "url": "/exercicio8/:nome/:idade/:sexo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "f412bf1182eced22"
            ]
        ],
        "info": "Criação de um endpoint."
    },
    {
        "id": "f3b5f4f2bc9ae1f0",
        "type": "http response",
        "z": "6dd8a0328e32dc4d",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "f412bf1182eced22",
        "type": "template",
        "z": "6dd8a0328e32dc4d",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Exercício 8</title>\n    </head>\n    <body>\n        <h2>Nome: {{req.params.nome}}</h2>\n        <h2>Idade: {{req.params.idade}}</h2>\n        <h2>Sexo: {{req.params.sexo}}</h2>\n\n    </body>\n</html>",
        "output": "str",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "f3b5f4f2bc9ae1f0"
            ]
        ]
    },
    {
        "id": "8481120ee8bfda11",
        "type": "http in",
        "z": "0f601e1b332165a2",
        "name": "http in",
        "url": "/exercicio9",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "7d03c12e8b70f9f7"
            ]
        ]
    },
    {
        "id": "7e9cb5bd1be82412",
        "type": "http response",
        "z": "0f601e1b332165a2",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "d6e71f304e0aa914",
        "type": "template",
        "z": "0f601e1b332165a2",
        "name": "formatacaoSaida",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Número randômico gerado: {{payload}}.",
        "output": "str",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "7e9cb5bd1be82412"
            ]
        ]
    },
    {
        "id": "06d94d8fbeeeb308",
        "type": "inject",
        "z": "0f601e1b332165a2",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "4eb9fa1bcc78c8b4"
            ]
        ]
    },
    {
        "id": "0b2baba73a4d01f4",
        "type": "debug",
        "z": "0f601e1b332165a2",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "4eb9fa1bcc78c8b4",
        "type": "function",
        "z": "0f601e1b332165a2",
        "name": "geradoraNumeroRandomico0A10",
        "func": "msg.payload = (Math.random()*10).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "51cdacc5562f2893"
            ]
        ]
    },
    {
        "id": "51cdacc5562f2893",
        "type": "change",
        "z": "0f601e1b332165a2",
        "name": "Armazenar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 480,
        "wires": [
            [
                "0b2baba73a4d01f4"
            ]
        ]
    },
    {
        "id": "7d03c12e8b70f9f7",
        "type": "change",
        "z": "0f601e1b332165a2",
        "name": "Recuperar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "d6e71f304e0aa914"
            ]
        ]
    },
    {
        "id": "f1ee177cc7222f43",
        "type": "http in",
        "z": "b8272760ee52dab3",
        "name": "http in",
        "url": "/exercicio10",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "bea52f4add579f78"
            ]
        ]
    },
    {
        "id": "aa6d7e0487d1e601",
        "type": "http response",
        "z": "b8272760ee52dab3",
        "name": "http request",
        "statusCode": "",
        "headers": {
            "content-type": "image/png"
        },
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "bea52f4add579f78",
        "type": "file in",
        "z": "b8272760ee52dab3",
        "name": "retornoArquivo",
        "filename": "G:/CIM4.0/Projeto/projetos-valmir/node-red/Logo.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "aa6d7e0487d1e601"
            ]
        ]
    },
    {
        "id": "9b71b9ce9135194b",
        "type": "http in",
        "z": "de20183a7163d237",
        "name": "http in",
        "url": "/exercicio11",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b46b19423aa26f54"
            ]
        ]
    },
    {
        "id": "63957e3745ac3d84",
        "type": "http response",
        "z": "de20183a7163d237",
        "name": "http request",
        "statusCode": "",
        "headers": {
            "content-type": "application/rar"
        },
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "b46b19423aa26f54",
        "type": "file in",
        "z": "de20183a7163d237",
        "name": "retornoArquivo",
        "filename": "G:/CIM4.0/Projeto/projetos-valmir/node-red/Logo (compactado).rar",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "63957e3745ac3d84"
            ]
        ]
    },
    {
        "id": "27c0e6df79a448c8",
        "type": "http in",
        "z": "4e6fabb3817f9ba8",
        "name": "http in",
        "url": "/exercicio12",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "6d060cf88d1b713b"
            ]
        ]
    },
    {
        "id": "6d060cf88d1b713b",
        "type": "template",
        "z": "4e6fabb3817f9ba8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>CRIAÇÃO DE UM FORMULÁRIO TESTE</title>\n</head>\n<body>\n    <h1>Olá {{payload.nome}}</h1>     \n</body>\n</html>",
        "output": "str",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "e99f42348e05d31e"
            ]
        ]
    },
    {
        "id": "e99f42348e05d31e",
        "type": "http response",
        "z": "4e6fabb3817f9ba8",
        "name": "http request",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "a891e62360ac93e1",
        "type": "inject",
        "z": "26b670098001254b",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "3390f4441ee3dacd"
            ]
        ]
    },
    {
        "id": "3390f4441ee3dacd",
        "type": "http request",
        "z": "26b670098001254b",
        "name": "http request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered.org/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "30735f53e36173e9"
            ]
        ]
    },
    {
        "id": "917b49dbd8c657a8",
        "type": "debug",
        "z": "26b670098001254b",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "30735f53e36173e9",
        "type": "html",
        "z": "26b670098001254b",
        "name": "tag",
        "property": "",
        "outproperty": "",
        "tag": "h2",
        "ret": "text",
        "as": "single",
        "x": 850,
        "y": 400,
        "wires": [
            [
                "917b49dbd8c657a8"
            ]
        ]
    },
    {
        "id": "1cd59a641555a8af",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Laser",
        "group": "a4e403865e5e5e47",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Laser",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "LASER",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "8b09e150c15c1014",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Prensa",
        "group": "a4e403865e5e5e47",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Prensa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "PRENSA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "1712e79472d5a446",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Punsionadeira",
        "group": "a4e403865e5e5e47",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Punsionadeira",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "PUNSIONADEIRA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "6e9ff2e174cbe292",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Serra",
        "group": "a4e403865e5e5e47",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Serra",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SERRA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "011ea245f740e289",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Calandra",
        "group": "a4e403865e5e5e47",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calandra",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CALANDRA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 20,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "703039194764b681",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Dobradeira",
        "group": "a4e403865e5e5e47",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dobradeira",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "DOBRADEIRA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "53efae997a9f5de5",
        "type": "ui_text",
        "z": "00a0cdb45091547d",
        "group": "a4e403865e5e5e47",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "MÁQ. ESCOLHIDA:",
        "label": "MÁQ. ESCOLHIDA:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "daf047fcb6dce695",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Dobra",
        "group": "c4d1bca6b5078f5f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dobra",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "DOBRA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "8a7ede1a54d90ea3",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Corte",
        "group": "c4d1bca6b5078f5f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Corte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CORTE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "afc101498fa4a548",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Usinagem",
        "group": "c4d1bca6b5078f5f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Usinagem",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "USINAGEM",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "9411190f69c9289e",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Pintura",
        "group": "c4d1bca6b5078f5f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pintura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "PINTURA",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "7c120262d982f0e5",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Furação",
        "group": "c4d1bca6b5078f5f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Furação",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "FURAÇÃO",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "e074fa7581ceb322",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "Montagem",
        "group": "c4d1bca6b5078f5f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Montagem",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "MONTAGEM",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "c8d8ba6962d9212b",
        "type": "ui_text",
        "z": "00a0cdb45091547d",
        "group": "c4d1bca6b5078f5f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "SERVIÇO ESCOLHIDO:",
        "label": "SERVIÇO ESCOLHIDO:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "169dbec272089f48",
        "type": "ui_text_input",
        "z": "00a0cdb45091547d",
        "name": "TROCAR MÁQUINA? DIGITE A NOVA:",
        "label": "TROCAR MÁQUINA? DIGITE A NOVA:",
        "tooltip": "",
        "group": "a4e403865e5e5e47",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "53efae997a9f5de5"
            ]
        ]
    },
    {
        "id": "abaf71dbc68e19bd",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "CLIQUE PARA TROCAR",
        "group": "a4e403865e5e5e47",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLIQUE PARA TROCAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "payload",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "169dbec272089f48"
            ]
        ]
    },
    {
        "id": "99c304aed4eccce8",
        "type": "ui_button",
        "z": "00a0cdb45091547d",
        "name": "CLIQUE PARA TROCAR",
        "group": "c4d1bca6b5078f5f",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLIQUE PARA TROCAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "payload",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "7abd20362aec0e4b"
            ]
        ]
    },
    {
        "id": "7abd20362aec0e4b",
        "type": "ui_text_input",
        "z": "00a0cdb45091547d",
        "name": "TROCAR SERVIÇO? DIGITE O NOVO:",
        "label": "TROCAR SERVIÇO? DIGITE O NOVO:",
        "tooltip": "",
        "group": "c4d1bca6b5078f5f",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 620,
        "y": 560,
        "wires": [
            [
                "c8d8ba6962d9212b"
            ]
        ]
    },
    {
        "id": "be511570a8649605",
        "type": "inject",
        "z": "00a0cdb45091547d",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "1b27c32ca418ca98"
            ]
        ]
    },
    {
        "id": "1b27c32ca418ca98",
        "type": "random",
        "z": "00a0cdb45091547d",
        "name": "geradoraNumeroAleatorio0A200",
        "low": 1,
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "043608f5ba191450"
            ]
        ]
    },
    {
        "id": "043608f5ba191450",
        "type": "ui_gauge",
        "z": "00a0cdb45091547d",
        "name": "ACELERAÇÃO",
        "group": "488092914d9bc9d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ACELERAÇÃO",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "bdc7f889f37d2af5",
        "type": "inject",
        "z": "00a0cdb45091547d",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "b083ce3c7ff6e5c1"
            ]
        ]
    },
    {
        "id": "6d7ac625d141146b",
        "type": "ui_gauge",
        "z": "00a0cdb45091547d",
        "name": "PEÇAS EM CONFORMIDADE",
        "group": "a678657322a9c1e7",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "PEÇAS EM CONFORMIDADE",
        "label": "Peças",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "4c7871727a9a47b1",
        "type": "ui_gauge",
        "z": "00a0cdb45091547d",
        "name": "PEÇAS NÃO CONFORME",
        "group": "a678657322a9c1e7",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "PEÇAS NÃO CONFORME",
        "label": "Peças",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 960,
        "y": 760,
        "wires": []
    },
    {
        "id": "b083ce3c7ff6e5c1",
        "type": "random",
        "z": "00a0cdb45091547d",
        "name": "geradoraNumeroAleatorio0A100",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 720,
        "wires": [
            [
                "f9e9a617a1691cd5"
            ]
        ]
    },
    {
        "id": "f9e9a617a1691cd5",
        "type": "switch",
        "z": "00a0cdb45091547d",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 720,
        "wires": [
            [
                "6d7ac625d141146b"
            ],
            [
                "4c7871727a9a47b1"
            ]
        ]
    },
    {
        "id": "e6f5dcf950a97487",
        "type": "inject",
        "z": "00a0cdb45091547d",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "25cb875fd52c83df"
            ]
        ]
    },
    {
        "id": "25cb875fd52c83df",
        "type": "random",
        "z": "00a0cdb45091547d",
        "name": "geradoraNumeroAleatorio0A100",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 510,
        "y": 820,
        "wires": [
            [
                "071c72eecad4dea6"
            ]
        ]
    },
    {
        "id": "071c72eecad4dea6",
        "type": "ui_gauge",
        "z": "00a0cdb45091547d",
        "name": "NÍVEL",
        "group": "488092914d9bc9d5",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "NÍVEL",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 820,
        "wires": []
    }
]